.wrapper {
  display: flex;
  height: 70%;
  width: 95%;
  margin: auto;
  justify-content: center;
}

.input {
  height: 90%;
  width: 80%;
  padding: 18px;
  margin: auto;
  margin-right: 0;
  border-radius: 8px 0 0 8px;
  color: black;
  font-size: large;
  font-weight: 600;
  outline: none;
}