.container {
  height: 100%;
  /*min-height: auto는 부모의 100%. 요소가 적을 때는 height*/
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.list {
  /*basic을 기준으로 felx-grow 는 부모가 커졌을 때 작용하고 flex-shrink는 부모가 작아졌을 때 작용한다. 
  */
  flex: 1 1 auto;
  overflow-y: auto;
}